<a href="https://colab.research.google.com/github/TurkuNLP/ATP_kurssi/blob/master/Notebook5_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercise with tweets

* The *cut* command is useful for handling data in colums
* *cut* specifies the column to be used (by default columns are separated by a tab)
* `! cat tweets_en_nort.csv | cut -f 5` prints the 5th column

Let's use tweets_en_nort.csv

* What are the most frequent user names, in column 5?
* Column 3 has the actual tweet texts. Focus on these. Examine the most frequent words. 
* You'll see that the texts have a lot of hashtags
* What are the most frequent hashtags in the texts? 
* What are about mentions (starting with @)
--------------------------
* The tweet time stamps are in column 14. When are the tweets published?

* Advanced: the tweets have a lot of different Je suis X variations. How could you get the most frequent Xs?

Note: if you want to have Xs futher than the next word, you need some tricks. I simply made a regex to split "sentences" to lines and decided that anything after "je suis" in the same "sentence" is the X.

Note 2: tr is nice, but sometimes the similar functionality works better with a small perl script: perl -pe 's/ORIGINAL/REPLACED/g'

In [1]:
! git clone https://github.com/TurkuNLP/ATP_kurssi.git
%cd ATP_kurssi

Cloning into 'ATP_kurssi'...
remote: Enumerating objects: 389, done.
remote: Counting objects: 100% (156/156), done.
remote: Compressing objects: 100% (148/148), done.
remote: Total 389 (delta 82), reused 25 (delta 7), pack-reused 233
Receiving objects: 100% (389/389), 19.91 MiB | 12.57 MiB/s, done.
Resolving deltas: 100% (211/211), done.
/content/ATP_kurssi

In [2]:
# What are the most frequent user names, in column 5?
! cat tweets_en_nort.csv | cut -f 5 | sort | uniq -c | sort -rn | head -5

 230691
   3532 jesuischarlie_
   3479 Promo_Culturel
   2682 BotCharlie
   1926 russfeed

In [5]:
# Column 3 has the actual tweet texts. Focus on these. Examine the most frequent words.
! cat tweets_en_nort.csv | cut -f 3 | tr ' ' '\n' | tr '[[:upper:]]' '[[:lower:]]' | sort | uniq -c | sort -rn | head -5

 327811 of
 230691
 205778 #jesuischarlie
 149074 the
 100245 islamic

In [6]:
! cat tweets_en_nort.csv | cut -f 3 | tr ' ' '\n' | tr '[[:upper:]]' '[[:lower:]]' | egrep "^#" | sort | uniq -c | sort -rn | head -5

 205778 #jesuischarlie
  99676 #letter4all
  99648 #letter4u
  91860 #paris
  14662 #charliehebdo

In [7]:
! cat tweets_en_nort.csv | cut -f 3 | tr ' ' '\n' | tr '[[:upper:]]' '[[:lower:]]' | egrep "^@" | sort | uniq -c | sort -rn | head -5

  10228 @khamenei_ir
   1186 @youtube
    555 @charlie_hebdo_
    453 @
    245 @cnn

In [9]:
! cat tweets_en_nort.csv | cut -f 14 | tr '[[:upper:]]' '[[:lower:]]'  | sort | uniq -c | sort -rn | head -20

 230721
     28 wed jan 14 14:51:56 +0000 2015
     21 wed jan 14 17:10:05 +0000 2015
     20 wed mar 11 20:14:17 +0000 2015
     19 wed jan 14 01:12:12 +0000 2015
     16 tue jan 13 14:30:14 +0000 2015
     15 sun jan 18 15:38:10 +0000 2015
     15 sun jan 18 15:38:09 +0000 2015
     14 sun jan 18 15:38:08 +0000 2015
     13 tue jan 13 14:30:12 +0000 2015
     13 sun jan 18 15:38:07 +0000 2015
     13 sun jan 18 15:38:05 +0000 2015
     13 fri jan 16 22:56:03 +0000 2015
     13 fri jan 16 14:57:12 +0000 2015
     12 tue jan 13 14:30:11 +0000 2015
     11 wed jan 14 17:10:04 +0000 2015
     11 sat jan 17 06:41:43 +0000 2015
     10 wed jan 21 02:57:07 +0000 2015
     10 wed jan 14 04:30:55 +0000 2015
     10 wed jan 07 23:31:17 +0000 2015